<p-card header="Rooms" class="p-card p-mx-auto p-mb-4 p-d-flex p-jc-center">
    <!-- <p-toast></p-toast> -->
    <p-toolbar styleClass="mb-4 gap-2">
      <ng-template pTemplate="left">
        <button
          pButton
          pRipple
          label="New"
          icon="pi pi-plus"
          class="p-button-success mr-2"
          (click)="showAddModal()"
        ></button>
        <!-- <button pButton pRipple [label]="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedProducts()" [disabled]="!selectedProducts || !selectedProducts.length"></button> -->
      </ng-template>
    </p-toolbar>
  
    <!-- @if(clients.length > 0){ -->
    <p-table
      #dt
      [value]="bookings"
      [rows]="10"
      [paginator]="true"
      [globalFilterFields]="['name', 'country.name', 'representative.name']"
      [tableStyle]="{ 'min-width': '75rem' }"
      [rowHover]="true"
      dataKey="id"
      [rowsPerPageOptions]="[5, 10, 20]"
      [rows]="5"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [showCurrentPageReport]="true"
    >

          <ng-template pTemplate="header">
        <tr>
          <th style="width: 4rem">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <th pSortableColumn="name" style="min-width: 10rem">
            Name Client <p-sortIcon field="name"></p-sortIcon>
          </th>
          <th pSortableColumn="phone" style="min-width: 10rem">
            phone <p-sortIcon field="phone"></p-sortIcon>
          </th>
          <th pSortableColumn="checkInDate" style="min-width: 10rem">
            CheckInDate <p-sortIcon field="checkInDate"></p-sortIcon>
          </th>
          <!-- <th pSortableColumn="status" style="min-width: 10rem">
            Status <p-sortIcon field="status"></p-sortIcon>
          </th> -->
          <th pSortableColumn="checkOutDate" style="min-width: 10rem">
            CheckOutDate <p-sortIcon field="checkOutDate"></p-sortIcon>
          </th>
          <th pSortableColumn="roomNumber" style="min-width: 10rem">
            RoomNumber <p-sortIcon field="roomNumber"></p-sortIcon>
          </th>

          <th pSortableColumn="totalPrice" style="min-width: 10rem">
            Total Price <p-sortIcon field="totalPrice"></p-sortIcon>
          </th>
          <th pSortableColumn="nroOfDays" style="min-width: 10rem">
            Nro Of Days <p-sortIcon field="nroOfDays"></p-sortIcon>
          </th>
          <th pSortableColumn="dailyPrice" style="min-width: 10rem">
            Daily Price <p-sortIcon field="dailyPrice"></p-sortIcon>
          </th>
          <th></th>
        </tr>
      </ng-template>
      
      
      <!-- verificar la condicion -->
      @if (!isLoading) {
        <ng-template pTemplate="body" let-booking>
          <tr>
            <td>
              <p-tableCheckbox [value]="booking"></p-tableCheckbox>
            </td>
            <td>{{ booking.name }}</td>
            <td>{{ booking.phone }}</td>
            <td>{{ booking.checkInDate | date:'mediumDate' }}</td>
            <td>{{ booking.checkOutDate | date: 'mediumDate' }}</td>
            <td>{{ booking.roomNumber }}</td>
            <td>{{ booking.totalPrice }}</td>
            <td>{{ booking.nroOfDays }}</td>
            <td>{{ booking.dailyPrice }}</td>
            <!-- <td>
              <p-tag
                [value]="rooms.status"
                [severity]="getSeverity(rooms.status)"
              ></p-tag>
            </td> -->
            <td>
              <button
                pButton
                pRipple
                icon="pi pi-pencil"
                class="p-button-rounded p-button-success mr-2"
                (click)="showEditModal(booking)"
              ></button>
            </td>
          </tr>
        
        </ng-template>
      }@else {
        <ng-template  pTemplate="body"let-client>
          <tr >
            <td><p-skeleton></p-skeleton></td>
            <td><p-skeleton></p-skeleton></td>
            <td><p-skeleton></p-skeleton></td>
          </tr>
        </ng-template>
  
      }
        
    </p-table>
  <!-- }@else {
    <div class="flex align-items-center justify-content-center">
      <h5 class="m-0">cargando..!</h5>
    </div>
  } -->
  </p-card>
  <!-- DIALOGO -->
  <hotel-add-edit-booking
    [displayAddEditModal]="displayAddEditModal"
    (clickClose)="hideAddModal($event)"
    [selectedBooking]="selectedBooking"
    (clickAddEditSave)="saveOrEditList()"
  ></hotel-add-edit-booking>
  <p-toast></p-toast>
  <p-confirmDialog></p-confirmDialog>
  